<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <style>
        #pay {
            color: rgb(235, 205, 205);
        }

        #pay-row {
            width: 90%;
            margin-left: 10%;
            display: flex;
            justify-content: center;
        }

        .left-img {
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            border-right: 3px solid rgb(200, 34, 34);
            border-bottom: 3px solid rgb(200, 34, 34);
            box-shadow: 17px 0px 15px -15px rgb(151, 185, 147);
            border-radius: 3px;
        }

        .right-img {
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            border-right: 3px solid rgb(200, 34, 34);
            border-bottom: 3px solid rgb(200, 34, 34);
            box-shadow: 17px 0px 15px -15px rgb(151, 185, 147);
            border-radius: 3px
        }

        #pay-row {
            margin-top: 50px;
        }



        .payment-con #pay-row img {
            width: 100%;
            height: 100%;
        }


        .payment-con .pay-col {
            width: 80%;
        }

        @media screen and (max-width:767px) {
            .payment-con #pay-row .pay-subrow {
                margin-top: 70px;
            }

            #pay-row {
                width: 100%;
                margin-left: 20px;

            }

            #right-col {
                margin-left: 5%;
            }

            .left-img {
                height: 200px !important;
            }
        }

        @media screen and (max-width:540px) {
            .left-img {
                height: 150px !important;
            }
        }

        @media screen and (max-width:400px) {
            .left-img {
                height: 125px !important;
            }
        }

        .site-navbar {
            position: unset;
        }
    </style>
    <title>Payment Details</title>
</head>

<body>
    <!-- <h1>Pending Payments</h1>
    <ul>
        

    </ul> -->
    <div style="background-color: black;">
        <%- include('partials/navbar.ejs') %>
    </div>

    <div id="pay"
        style="height:100vh;background:url('https://img.freepik.com/premium-vector/luxury-bright-red-lines-modern-sport-background_125759-132.jpg') center center/cover ; background-attachment: fixed; padding: 40px;">

        <div class="title-section">
            <h2 class="heading">Pending Payments</h2>
          </div>

        <% for(let i=0;i<payments.length;i+=2) { %>
            <div class="container-box payment-con">
                <div class="row" id="pay-row">
                    <div class="col-md-6">
                        <form action="/payment/order" id="paymentForm" method="post">
                            <div class="row ">
                                <div class="col-6">
                                    <% if(payments[i].paymentType=="user" ) {%>
                                        <h3>Registration Fees</h3>
                                        <%} else {%>
                                                <h3>
                                                    <%= payments[i].eventName%>
                                                </h3>
                                                <%}%>
                                                    <img class="left-img"
                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSi0EqhjkkSPH_uH3PpFfjL9spyirBUNtaUw&usqp=CAU"
                                                        alt="">
                                </div>
                                <div class="col-4 btn-col-left"
                                    style="display:flex;  flex-direction: column; justify-content:center;align-items:center;">
                                    <div class="row" style="display:block ;">
                                        <p>Fees : <%= payments[i].amount%></p>
                                    </div>
                                    <button class="btn btn-dark">Pay</button>
                                </div>
                            </div>

                            <input name="paymentType" type="hidden" id="paymentType"
                                value="<%=payments[i].paymentType%>" readonly>
                            <input name="id" id="id" type="hidden" value="<%= payments[i].id %>" readonly>

                        </form>

                    </div>

                    <% if(i + 1 <payments.length) { %>
                        <div class="col-md-6">
                            <form action="/payment/order" id="paymentForm" method="post">
                                <div class="row ">
                                    <div class="col-6">
                                        <% if(payments[i+1].paymentType=="user" ) {%>
                                            <h3>Registration Fees</h3>
                                            <%} else {%>
                                                <h3>
                                                    <%= payments[i+1].eventName%>
                                                </h3>
                                                    <%}%>
                                                        <img class="left-img"
                                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSi0EqhjkkSPH_uH3PpFfjL9spyirBUNtaUw&usqp=CAU"
                                                            alt="">
                                    </div>
                                    <div class="col-4 btn-col-left"
                                        style="display:flex;  flex-direction: column; justify-content:center;align-items:center;">
                                        <div class="row" style="display:block ;">
                                            <p>Fees : <%= payments[i+1].amount%>
                                            </p>
                                        </div>
                                        <button class="btn btn-dark">Pay</button>
                                    </div>
                                </div>

                                <input name="paymentType" type="hidden" id="paymentType"
                                    value="<%=payments[i+1].paymentType%>" readonly>
                                <input name="id" id="id" type="hidden" value="<%= payments[i+1].id %>" readonly>

                            </form>

                        </div>
                        <%}%>
                </div>

            </div>
            <%}%>


    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script> -->

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.mb.YTPlayer.min.js"></script>

    <script src="/js/main.js"></script>

</body>

</html>