<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <Style>
        * {
            color: white;
        }

        .profilecard {
            display: flex;
            flex-direction: column;
            border: 2px solid white;
            width: 40%;
            margin:  auto;
            height: auto;
            align-items: center;
            border-radius: 30px;
            backdrop-filter: blur(10px) saturate(200%);
            box-shadow: 1px 2px 30px 10px #ff00007d;
        }

        div span {
            font-size: 20px;
            color: white
        }
        .profile-btn{
            width: 40%;
            padding: 7px;
            margin-bottom: 10px;
    border-radius: 30px;
        }
        .profile-event{
            margin-top: 50px;
        }
        @media screen and (max-width:1000px){
            .profilecard{
                width: 60%;
            }
        }
        @media screen and (max-width:500px){
            .profilecard{
                width: 90%;
            }
        }
    </Style>


</head>

<body>

    <div class="site-wrap "
        style="background: url('/images/createteambg.jpeg') no-repeat center center/cover; height:auto; min-height: 100vh;">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <div class="container " style="padding-top:50px;">
            <div class="profilecard">
                <h1 style="margin:10px auto">Profile</h1>
                <hr>
                <div id="info" style="    display: flex;
                flex-direction: column;
                text-align:center;
                width: 90%; align-items: center;">
                    <img style="max-height: 100px;
                    width: 100px;
                    vertical-align: middle;
                    border-style: none;
                    border-radius: 60px;" src="<%= user.image %>" alt="to be shown">
                    <br>
                    <div style="font-size:20px; color:white;">
                        <span id="name">
                            <%= user.firstName %>
                        </span>
                        <br>
                        <span id="email">
                            <%= user.email %>
                        </span>
                    </div>
                </div>
                <hr>
                <div style="width: 100%;
                display: flex;
                margin: 15px;
                flex-direction: column;
                align-items: center;
                height: auto;">
                    <button  class="btn btn-primary profile-btn" onclick="window.location='/';">Home</button>
                    <button  class="btn btn-primary profile-btn" onclick="window.location='/auth/logout';">Logout</button>
                </div>
            </div>

            <div class="profile-event">
                <div id="register" style="    margin: 40px auto;">
                    <div class="title-section">
                        <p style="font-size:35px ;" class="heading">Events Registered</p>
                    </div>


                    <%if(teams.length===0) {%>
                        <p>No events registered yet</p>
                        <% } else {%>

                            <%for(let i=0;i < teams.length;i++){ %>
                                <p>
                                    <a href="/team?teamId=<%=teams[i]._id%>">
                                        <%= teams[i].name %>
                                    </a>
                                </p>
                                <%} }%>
                </div>
            </div>

        </div>

    </div>




    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>


    <script src="js/main.js"></script>
</body>

</html>