<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | <%= team.name %>
    </title>

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/mediaquery.css">

    <style>
        .head span {
            font-size: 50px;
            line-height: 58px;
            margin: 0px -5px;

            text-shadow: 4px 3px 11px red;
        }

        .head {
            padding-top: 100px;
            display: flex;
            align-items: baseline;
            transform: skewy(-3.5deg);
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 20px;
            display: flex;
            width: 100%;
            justify-content: center;
        }



        .cont {
            padding-top: 5rem;
            width: 100%;
            height: 249px;
            color: white;
            transform: skewy(3.5deg) translatey(-81px);
            padding-top: 2.5rem;
        }

        .teaminfo {
            padding: 12px;
            display: flex;
            width: 54%;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            height: 300px;
            text-align: center;

            align-items: center;

        }

        .teaminfo span {
            display: flex;
            margin: 3px;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 25px;
            height: 20%;
        }

        .teaminfo div span {
            margin: 10px;
        }

        .span {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .contain::-webkit-scrollbar {
            display: none;
        }

        .player {
            border: 2px solid #ffffff80;
            /* position: absolute; */
            margin: 10px;
            width: auto;
            height: 90px;
            /* min-width: 26%; */
            min-height: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
            /* border-radius: 30px; */
            backdrop-filter: blur(10px) saturate(120%);
            box-shadow: 0px 0px 18px -7px #ff0000;
        }

        #conti {
            width: 50%;
            background-color: #00000047;
        }
    </style>
    <link rel="stylesheet" href="/css/teampage_mediaquery.css">

</head>

<body>

    <div class="site-wrap" style="min-height: 63vh;height: auto; background-color: black;">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="cont"
            style="background: url('https://media.istockphoto.com/photos/abstract-red-and-black-are-light-pattern-with-the-gradient-is-the-picture-id1205633216?b=1&k=20&m=1205633216&s=612x612&w=0&h=Usx41mX7-MfboMFrH-RKx-lc9T1JDBtP4pp1ntQdaSk=') no-repeat center center/cover;">
            <div class="head">
                <span>
                    <%= team.name%>
                </span>
            </div>
        </div>
        <div id="page" style="display: flex;width: 94%; min-height: 67vh; height: auto;margin: auto;align-items:  center;box-shadow: 1px 1px 50px -10px red;">

            <div id="conti">
                <div class="teaminfo">
                    <span class="span">Indian institute of technology
                        mandi</span>
                    <div>
                        <span>
                            <%= leader.name %>
                        </span>
                        <span>
                            <%= team._id %>
                        </span>
                        <span>1243644533</span>
                    </div>
                </div>
            </div>
            <div class="team" style="width: 50%; ">
                <div class="contain" style="height: 400px;overflow-y: scroll;width: 75%;margin: auto;">
                    <% for(let i=0; i<teamMembers.length; i++) {%>
                        <div class="player">
                            <span style="display: flex; align-items:center">
                                <%= teamMembers[i].firstName %>
                                    <% if(user._id==leader._id) { %>
                                        <i style="font-size: 25px;position: absolute;right: 14px;" class="material-icons" style="font-size:36px">close</i>
                                <% } %>
                            </span>
                            <Span>
                                <%= teamMembers[i].email %>
                            </Span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>



        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.fancybox.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.mb.YTPlayer.min.js"></script>


        <script src="js/main.js"></script>
</body>

</html>